#cheeta_pic {
    height: 125px;
    width: 125px;

}
body {
    display: grid;
}
#main_header {
    width: 100%;
    min-height: 10vh;
    display: grid;
    place-content: center;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
}
#upper_5 {
    display: grid;
    place-items: center;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
}
#lower_5 {
    display: grid;
    place-items: center;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
}



footer {
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#Contact_buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
}
#socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
}
#info_buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
}
